h1 {
  text-align: center;
}
.sidebar {
  width: 38%;
  float: right;
  background-color: rgb(122, 203, 218);
  font-size: 24px;
  height: 535px;
  border: 2px solid grey;
  padding: 5px;
  margin: 3px;
}
.firstpic {
  width: 60%;
  padding: 3px;
}
h1 {
  font-size: 32;
}
.thempic {
  width: 3ß%;
  height: 320px;
  padding: 2px;
}
.drumline {
  width: 38%;
  height: 320px;
  padding: 2px;
}
.column {
  float: right;
  background-color: rgb(255, 242, 172);
  height: 320px;
}
body {
  font-family: "Gill Sans", sans-serif;
}
p {
  background-color: rgb(161, 145, 199);
}
.love {
  margin: 3px;
}